services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
     - "8080:8080"
    environment:
     DB_HOST: db
     DB_PORT: 5432
     DB_USER: postgres
     DB_PASSWORD: 12345
     DB_NAME: postgres
     JAEGER_AGENT_HOST: jaeger
     JAEGER_AGENT_PORT: 4318
    depends_on:
      - db

  db:
   build:
     context: db
     dockerfile: Dockerfile
   environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: 12345
     POSTGRES_DB: postgres
   ports:
     - "5432:5432"
   volumes:
     - postgres-data:/var/lib/postgresql

  jaeger:
   image: jaegertracing/all-in-one:latest
   ports:
     - "6831:6831/udp"
     - "4318:4318"
     - "14268:14268"
     - "16686:16686"

  
volumes:
  postgres-data: